<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="springBoot_team_pj_126.dao.MemberRepository">

<select id="memberList" resultType="springBoot_team_pj_126.dto.UserDTO">
	SELECT * FROM EMPLOYEES_TBL
</select>


<delete id="deleteById" parameterType="String">
	delete from EMPLOYEES_TBL where id=#{id} 
</delete>

<update id="editEmployee" parameterType="springBoot_team_pj_126.dto.UserDTO">
	UPDATE employees_tbl SET ROLE='승인' WHERE no=#{no}
</update>


<!-- <update id="editPosition" parameterType="springBoot_team_pj_126.dto.UserDTO">
  UPDATE employees_tbl SET positionid = (SELECT positionid
  FROM position_tbl WHERE positionname = #{positionname, jdbcType=VARCHAR})
  WHERE id = #{id, jdbcType=INTEGER}
</update>
 -->
 
 
 <!-- 5월 4일 김성훈 추가  직원  리스트  -->
<select id="memberPosition" resultType="springBoot_team_pj_126.dto.UserDTO">
	SELECT e.id,e.name,e.hiredate,e.state,d.deptname,p.positionname
	FROM employees_tbl e
	LEFT join department_tbl d on e.deptid = d.deptid
	LEFT join position_tbl p on e.positionid = p.positionid
</select>

<!-- 5월 4일 김성훈 추가 직급  수정 -->
<update id="editPosition" parameterType="String">
	UPDATE employees_tbl SET positionid = (SELECT positionid
	FROM position_tbl WHERE positionname = #{positionname})
	WHERE id = #{id}
</update> 


</mapper>