<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="springBoot_team_pj_126.dao.DocumentMapper">



<select id="approvalPendingList" resultType="springBoot_team_pj_126.dto.DocumentDTO">
    SELECT * FROM document_tbl
	WHERE (FirstApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND FirstAPPROVERSTATE = '결재중')
	   OR (SecondApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND SecondAPPROVERSTATE = '결재중')
	   OR (ThirdApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND THIRDAPPROVERSTATE = '결재중')
	   OR (FourthApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND FOURTHAPPROVERSTATE = '결재중')
</select>

<select id="approvalScheduledList" resultType="springBoot_team_pj_126.dto.DocumentDTO">
    SELECT * FROM document_tbl
	WHERE (FirstApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND FirstAPPROVERSTATE = '대기중')
	   OR (SecondApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND SecondAPPROVERSTATE = '대기중')
	   OR (ThirdApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND THIRDAPPROVERSTATE = '대기중')
	   OR (FourthApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND FOURTHAPPROVERSTATE = '대기중')
</select>

<select id="approvalCompletedList" resultType="springBoot_team_pj_126.dto.DocumentDTO">
    SELECT * FROM document_tbl
	WHERE (FirstApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND FirstAPPROVERSTATE = '결재완료')
	   OR (SecondApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND SecondAPPROVERSTATE = '결재완료')
	   OR (ThirdApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND THIRDAPPROVERSTATE = '결재완료')
	   OR (FourthApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND FOURTHAPPROVERSTATE = '결재완료')
</select>

<select id="draftDocumentList" resultType="springBoot_team_pj_126.dto.DocumentDTO">
	SELECT * FROM DOCUMENT_TBL 
     WHERE AUTHOR = (SELECT name FROM EMPLOYEES_TBL WHERE id=#{id})
</select>

<select id="rejectionDocumentList" resultType="springBoot_team_pj_126.dto.DocumentDTO">
	SELECT * FROM DOCUMENT_TBL 
     WHERE AUTHOR = (SELECT name FROM EMPLOYEES_TBL WHERE id=#{id})
     AND DOCUMENTSTATE = '반려됨'
</select>



<select id="approverList" resultType="springBoot_team_pj_126.dto.UserDTO">
		SELECT e.NO,e.name,d.deptname,e.stemp, p.POSITIONNAME,e.positionId 
		FROM EMPLOYEES_TBL e,DEPARTMENT_TBl d ,POSITION_TBL p 
		WHERE e.DEPTID = d.DEPTID 
		AND e.POSITIONID = p.POSITIONID
</select>


<insert id="addDocument" parameterType="springBoot_team_pj_126.dto.DocumentDTO">
    <![CDATA[
        INSERT INTO document_tbl (
            documentNo,
            title,
            author,
            draftDate,
            documentType,
            documentState,
            retentionPeriod,
            securityLevel,
            content,
            firstApproverNo,
            secondApproverNo,
            thirdApproverNo,
            fourthApproverNo,
            firstApproverState,
            secondApproverState,
            thirdApproverState,
            fourthApproverState,
            filePath,
            id
        )
        VALUES (
            (SELECT NVL(MAX(documentNo) + 1, 1) FROM document_tbl),
            #{title},
            #{author},
            SYSDATE,
            #{documentType},
            '결재진행중',
            #{retentionPeriod},
            #{securityLevel},
            #{content},
            #{firstApproverNo},
            #{secondApproverNo},
            #{thirdApproverNo, jdbcType=NUMERIC},
            #{fourthApproverNo, jdbcType=NUMERIC},
            '결재중',
            '대기중',
            '대기중',
            '대기중',
            #{filePath},
            #{id}
        )
    ]]>
</insert>


<select id="documentDetail" resultType="springBoot_team_pj_126.dto.DocumentDTO">
    select * from document_tbl where documentNo =#{documentNo}
</select>

<select id="findApproverByNo" parameterType="java.util.List" resultType="springBoot_team_pj_126.dto.UserDTO">
    SELECT e.*, d.deptname, p.positionname
    FROM EMPLOYEES_TBL e
    JOIN DEPARTMENT_TBl d ON e.DEPTID = d.DEPTID
    JOIN POSITION_TBL p ON e.POSITIONID = p.POSITIONID
    WHERE e.NO IN
    <foreach item="approverNo" collection="list" open="(" separator="," close=")">
        #{approverNo}
    </foreach>
</select>

<update id="updateDocument" parameterType="springBoot_team_pj_126.dto.DocumentDTO">
    <![CDATA[
        UPDATE document_tbl
        SET
            title = #{title},
            author = #{author},
            documentType = #{documentType},
            retentionPeriod = #{retentionPeriod},
            securityLevel = #{securityLevel},
            content = #{content},
            firstApproverNo = #{firstApproverNo},
            secondApproverNo = #{secondApproverNo},
            thirdApproverNo = #{thirdApproverNo, jdbcType=NUMERIC},
            fourthApproverNo = #{fourthApproverNo, jdbcType=NUMERIC},
            filePath = #{filePath}
        WHERE
            documentNo = #{documentNo}
    ]]>
</update>


<!-- <insert id="insertMember" parameterType="com.example.react.dto.MemberDTO">
	INSERT INTO mvc_member_tbl values((select nvl(max(id)+1,1)from mvc_member_tbl), #{password}, #{username},#{age},#{email},#{address},#{salary})
</insert>	

<update id="updateMember" parameterType="com.example.react.dto.MemberDTO">
	update mvc_member_tbl
	set password = #{password},
		username = #{username},
		age = #{age},
		email = #{email},
		address = #{address},
		salary = #{salary}
	where id=#{id}
</update>

<delete id="deleteById" parameterType="int">
	delete from mvc_member_tbl where id=#{id} 
</delete>
		
<select id="findById" parameterType="com.example.react.dto.MemberDTO" resultType="com.example.react.dto.MemberDTO">
	select * from mvc_member_tbl where id=#{id} AND password =#{password}
</select>

 -->

</mapper>