<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="springBoot_team_pj_126.dao.CheckMapper">

	<!-- 출근 여부 확인  .-->
	<select id="isStartWork" resultType="java.sql.Timestamp">
		SELECT STARTWORK 
		FROM CHECK_TBL 
		HERE TRUNC(CHECKDATE) = TRUNC(SYSDATE) 
		AND ID = #{id}
	</select>
	
	<!-- 퇴근 여부 확인 -->
	<select id="isEndWork" resultType="java.sql.Timestamp">
		SELECT ENDWORK 
		FROM CHECK_TBL 
		WHERE TRUNC(CHECKDATE) = TRUNC(SYSDATE) 
		AND ID = #{id}
	</select>

	<!-- 근무 현황 리스트 -->
	<select id="attendanceList" resultType="springBoot_team_pj_126.dto.CheckDTO">
		SELECT *
		FROM CHECK_TBL
		WHERE ID = #{id}
		AND TRUNC(CHECKDATE) = TRUNC(SYSDATE)
	</select>

	<!-- 근무 체크 메서드 ============================================================== -->
	<!-- 출근  -->
	<insert id="startWork" parameterType="String">
		INSERT INTO CHECK_TBL
		(CHECKID, ID, STARTWORK, CHECKDATE)
		VALUES((select nvl(max(checkId)+1,1) FROM CHECK_TBL), #{id}, sysdate, sysdate)
	</insert>

	<!-- 회의  -->
	<update id="meeting" parameterType="String">
		UPDATE CHECK_TBL
		SET METTING = SYSDATE 
		WHERE ID = #{id}
	</update>
	
	<!-- 외출  -->
	<update id="goOut" parameterType="String">
		UPDATE CHECK_TBL
		SET goOut = SYSDATE 
		WHERE ID = #{id}
	</update>
	
	<!-- 외근  -->
	<update id="fieldWork" parameterType="String">
		UPDATE CHECK_TBL
		SET FIELDWORK = SYSDATE 
		WHERE ID = #{id}
	</update>
	
	<!-- 퇴근  -->
	<update id="endWork" parameterType="String">
		UPDATE CHECK_TBL
		SET ENDWORK = SYSDATE 
		WHERE ID = #{id}
	</update>
	
	<!-- 교육   -->
	<update id="education" parameterType="String">
		UPDATE CHECK_TBL
		SET EDUCATION = SYSDATE 
		WHERE ID = #{id}
	</update>
	
	<!-- 출장 -->
	<update id="businessTrip" parameterType="String">
		UPDATE CHECK_TBL
		SET BUSINESSTRIP = SYSDATE 
		WHERE ID = #{id}
	</update>
	
	<!-- 휴식 -->
	<update id="rest" parameterType="String">
		UPDATE CHECK_TBL
		SET REST = SYSDATE 
		WHERE ID = #{id}
	</update>
	
	<!-- 복귀 -->
	<update id="returnWork" parameterType="String">
		UPDATE CHECK_TBL
		SET RETURNWORK = SYSDATE 
		WHERE ID = #{id}
	</update>
	
	<!-- ========================================================================= -->
	
	<!-- 총 날짜 -->
	<select id="totalDays" parameterType="String" resultType="int">
		SELECT COUNT(STARTWORK) 
		FROM CHECK_TBL 
		WHERE ID = #{id}
	</select>
	
	<!-- 총 시간 -->
	<select id="totalHours" parameterType="String" resultType="int">
		SELECT NVL(SUM((ROUND((ENDWORK - STARTWORK) - NVL((RETURNWORK - GOOUT), 0), 1) * 24)), 0) as total_time
		FROM CHECK_TBL 
		WHERE ID = #{id}
	</select>
	
	<!-- 지각 횟수 -->
	<select id="tardy" parameterType="String" resultType="int">
		SELECT COUNT(CHECKDATE)
		FROM CHECK_TBL
		WHERE STARTWORK > TO_DATE('09:00:00', 'HH24:MI:SS')
		AND ID = #{id}
	</select>
	
	<!-- 결근 횟수 -->
	
	<!-- 조기 퇴근 횟수 -->
	<select id="earlyDeparture" parameterType="String" resultType="int">
		<![CDATA[
			SELECT COUNT(CHECKDATE)
			FROM CHECK_TBL
			WHERE TO_CHAR(ENDWORK, 'HH24:MI:SS') < ('23:00:00')
			AND ID = #{id}
		]]>
	</select>
	
	<!-- 미체크 -->
	<select id="unchecked" resultType="int">
		SELECT COUNT(CASE WHEN ENDWORK IS NULL THEN 1 END)
		FROM CHECK_TBL
		WHERE ID = #{id}
	</select>
	
</mapper>