<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="springBoot_team_pj_126.dao.SalaryMapper">

<!-- 	<select id="salaryList" resultType="springBoot_team_pj_126.dto.SalaryDTO">
	      SELECT s.salaryId, e.name, s.basicSalary, s.paymentStatus, s.payDay 
	      FROM SALARY_TBL s 
	      INNER JOIN employees_tbl e ON e.no = s.no 
	      WHERE s.no = 1
	</select> -->
	
	<!-- ========================================================================= -->
	<!-- [급여 지급에 필요한 메서드] -->
	<select id="salaryCreateDetail" parameterType="String" resultType="springBoot_team_pj_126.dto.SalaryInfoDTO">
		SELECT INFOID, EMPID, BASESALARY, REGULARWEEKLYHOURS
		FROM SALARY_INFO_TBL
		WHERE EMPID = #{id}
	</select>

<select id="salaryList" resultType="springBoot_team_pj_126.dto.SalaryDTO">
	      SELECT s.salaryId, e.name, s.basicSalary, s.paymentStatus, s.payDay 
	      FROM SALARY_TBL s 
	      INNER JOIN employees_tbl e ON e.no = s.no 
	      WHERE s.no = 1
	</select>

<!-- <select id="salaryList" resultType="springBoot_team_pj_126.dto.SalaryDTO">
   SELECT * FROM salary_TBL where id =#{id}
</select> -->

 <insert id="insertSalary" parameterType="springBoot_team_pj_126.dto.SalaryDTO">
   INSERT INTO salary_TBL values((select nvl(max(salaryId)+1,1)from salary_TBL), #{basicSalary}, #{name},#{payDay},#{paymentstatus},#{taxtionId},#{nontaxtionId},#{taxId},,#{overtimePay})
</insert>   

<update id="updateSalary" parameterType="springBoot_team_pj_126.dto.SalaryDTO">
   update salary_TBL
   set basicSalary = #{basicSalary},
   payDay = #{payDay},
   taxtionId = #{taxtionId},
      nontaxtionId = #{nontaxtionId},
      taxId= #{taxId}
   where id=#{id}
</update>

<delete id="deleteSalary" parameterType="int">
   delete from salary_TBL where id=#{id} 
</delete>

	<!-- 주말 제외 총 근무 시간 -->
	<select id="weeklyWorkingHours" parameterType="String" resultType="int">
	<![CDATA[
		SELECT
		    COALESCE(SUM(NVL(start_work_duration, 0) - NVL(go_out_duration, 0)), 0) AS "Total_Work_Hours"
		FROM
		    (
		        SELECT
		            CASE
		                WHEN statusName = 'start-work' THEN duration
		                ELSE NULL
		            END AS start_work_duration,
		            CASE
		                WHEN statusName = 'go-out' THEN duration
		                ELSE NULL
		            END AS go_out_duration,
		            startTime
		        FROM
		            work_records_tbl
		        WHERE
		            employeeId = #{id}
		    )
		WHERE
		    TO_CHAR(startTime, 'DY', 'NLS_DATE_LANGUAGE = AMERICAN') NOT IN ('SAT', 'SUN')
      ]]>
	</select>
	
	<!-- 주말 총 근무 시간 -->
	<select id="weekendWorkingHours" parameterType="String" resultType="int">
	<![CDATA[
		SELECT
		    COALESCE(SUM(NVL(start_work_duration, 0) - NVL(go_out_duration, 0)), 0) AS "Total_Work_Hours"
		FROM
		    (
		        SELECT
		            CASE
		                WHEN statusName = 'start-work' THEN duration
		                ELSE NULL
		            END AS start_work_duration,
		            CASE
		                WHEN statusName = 'go-out' THEN duration
		                ELSE NULL
		            END AS go_out_duration,
		            startTime
		        FROM
		            work_records_tbl
		        WHERE
		            employeeId = #{id}
		    )
		WHERE
		    TO_CHAR(startTime, 'DY', 'NLS_DATE_LANGUAGE = AMERICAN') IN ('SAT', 'SUN')
      ]]>
	</select>
</mapper>