<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="springBoot_team_pj_126.dao.UserMapper">

<insert id="join" parameterType="springBoot_team_pj_126.auth.entities.User">
 	INSERT INTO EMPLOYEES_TBL(NO, ID,PWD ,NAME,BIRTH, EMAIL,ADDRESS,HP,hireDate,STATE,annualCount,welfarePoint,ROLE)
 	values((select nvl(max(no)+1,1)from EMPLOYEES_TBL),#{id}, #{pwd}, #{name}, #{birth}, #{email}, #{address}, #{hp}, default, default, default, default, default)

</insert>
 
<select id="duplecate" parameterType="springBoot_team_pj_126.dto.UserDTO" resultType="springBoot_team_pj_126.dto.UserDTO">
 	select * from EMPLOYEES_TBL where name = #{name}
 </select>
 
  <select id="findById" parameterType="String" resultType="springBoot_team_pj_126.auth.entities.User">
	select * from EMPLOYEES_TBL where id=#{id}
</select> 

  <select id="toUserDTO" parameterType="springBoot_team_pj_126.auth.entities.User" resultType="springBoot_team_pj_126.auth.entities.User">
	select * from EMPLOYEES_TBL where id=#{id}
</select> 

<select id="selectId" parameterType="String" resultType="springBoot_team_pj_126.auth.entities.User">
	select * from EMPLOYEES_TBL where id=#{id}
</select>

<update id="passwordChangeId" parameterType="java.util.Map">
	update EMPLOYEES_TBL set pwd =#{pwd} where id =#{id}
</update>

<update id="passwordChange" parameterType= "java.util.Map" >
	update EMPLOYEES_TBL set pwd =#{pwd} where email =#{email}
</update>

</mapper>