<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="springBoot_team_pj_126.dao.DocumentMapper">

<!-- 목록  -->
<select id="approvalPendingList" resultType="springBoot_team_pj_126.dto.DocumentDTO">
    SELECT * FROM document_tbl
   WHERE (FirstApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND FirstAPPROVERSTATE = '결재중')
      OR (SecondApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND SecondAPPROVERSTATE = '결재중')
      OR (ThirdApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND THIRDAPPROVERSTATE = '결재중')
      OR (FourthApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND FOURTHAPPROVERSTATE = '결재중')
</select>

<select id="approvalScheduledList" resultType="springBoot_team_pj_126.dto.DocumentDTO">
    SELECT * FROM document_tbl
   WHERE (FirstApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND FirstAPPROVERSTATE = '대기중')
      OR (SecondApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND SecondAPPROVERSTATE = '대기중')
      OR (ThirdApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND THIRDAPPROVERSTATE = '대기중')
      OR (FourthApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND FOURTHAPPROVERSTATE = '대기중')
</select>

<select id="approvalCompletedList" resultType="springBoot_team_pj_126.dto.DocumentDTO">
    SELECT * FROM document_tbl
   WHERE (FirstApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND FirstAPPROVERSTATE = '결재완료')
      OR (SecondApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND SecondAPPROVERSTATE = '결재완료')
      OR (ThirdApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND THIRDAPPROVERSTATE = '결재완료')
      OR (FourthApproverNo IN (SELECT NO FROM Employees_tbl WHERE id = #{id}) AND FOURTHAPPROVERSTATE = '결재완료')
</select>

<select id="draftDocumentList" resultType="springBoot_team_pj_126.dto.DocumentDTO">
    SELECT * FROM DOCUMENT_TBL 
    WHERE AUTHOR = (SELECT name FROM EMPLOYEES_TBL WHERE id=#{id})
    AND documentState != '반려됨'
</select>

<select id="rejectionDocumentList" resultType="springBoot_team_pj_126.dto.DocumentDTO">
   SELECT * FROM DOCUMENT_TBL 
     WHERE AUTHOR = (SELECT name FROM EMPLOYEES_TBL WHERE id=#{id})
     AND DOCUMENTSTATE = '반려됨'
</select>


<!-- 결재자 목록 -->
<select id="approverList" resultType="springBoot_team_pj_126.dto.UserDTO">
      SELECT e.NO, e.name, d.deptname, e.stemp, p.POSITIONNAME, e.positionId 
      FROM EMPLOYEES_TBL e, DEPARTMENT_TBl d, POSITION_TBL p 
      WHERE e.DEPTID = d.DEPTID 
      AND e.POSITIONID = p.POSITIONID
      AND e.positionId >= 3
</select>













<insert id="addDocument" parameterType="springBoot_team_pj_126.dto.DocumentDTO">
    <![CDATA[
        INSERT INTO document_tbl (
            documentNo,
            title,
            author,
            draftDate,
            documentType,
            documentState,
            retentionPeriod,
            securityLevel,
            content,
            firstApproverNo,
            secondApproverNo,
            thirdApproverNo,
            fourthApproverNo,
            firstApproverState,
            secondApproverState,
            thirdApproverState,
            fourthApproverState,
            filePath,
            id
        )
        VALUES (
            (SELECT NVL(MAX(documentNo) + 1, 1) FROM document_tbl),
            #{title},
            #{author},
            SYSDATE,
            #{documentType},
            '결재진행중',
            #{retentionPeriod},
            #{securityLevel},
            #{content},
            #{firstApproverNo},
            #{secondApproverNo},
            #{thirdApproverNo, jdbcType=NUMERIC},
            #{fourthApproverNo, jdbcType=NUMERIC},
            '결재중',
            '대기중',
            '대기중',
            '대기중',
            #{filePath},
            #{id}
        )
    ]]>
</insert>














<select id="documentDetail" resultType="springBoot_team_pj_126.dto.DocumentDTO">
    select * from document_tbl where documentNo =#{documentNo}
</select>











<!-- 결재자 불러오기 -->

<select id="findApproverByNo" parameterType="map" resultType="springBoot_team_pj_126.dto.UserDTO">
    SELECT e.*, d.deptname, p.positionname, doc.firstApproverState, doc.secondApproverState, doc.thirdApproverState, doc.fourthApproverState
    FROM EMPLOYEES_TBL e
    JOIN DEPARTMENT_TBl d ON e.DEPTID = d.DEPTID
    JOIN POSITION_TBL p ON e.POSITIONID = p.POSITIONID
    JOIN DOCUMENT_TBL doc ON e.NO = doc.firstApproverNo OR e.NO = doc.secondApproverNo OR e.NO = doc.thirdApproverNo OR e.NO = doc.fourthApproverNo
    WHERE e.NO IN
    <foreach item="item" collection="approverNo" open="(" separator="," close=")">
        #{item}
    </foreach>
    AND doc.documentNo = #{documentNo}
</select>







<update id="updateDocument" parameterType="springBoot_team_pj_126.dto.DocumentDTO">
  <![CDATA[
    UPDATE document_tbl
    SET
        title = #{title},
        author = #{author},
        documentType = #{documentType},
        retentionPeriod = #{retentionPeriod},
        securityLevel = #{securityLevel},
        content = #{content},
        firstApproverNo = #{firstApproverNo},
        secondApproverNo = #{secondApproverNo},
        thirdApproverNo = #{thirdApproverNo, jdbcType=NUMERIC},
        fourthApproverNo = #{fourthApproverNo, jdbcType=NUMERIC},
        filePath = #{filePath},
        firstApproverState = CASE
            WHEN #{documentState} = '반려됨' AND #{firstApproverState} = '반려' THEN '결재중'
            ELSE #{firstApproverState}
        END,
        secondApproverState = CASE
            WHEN #{documentState} = '반려됨' AND #{secondApproverState} = '반려' THEN '결재중'
            ELSE #{secondApproverState}
        END,
        thirdApproverState = CASE
            WHEN #{documentState} = '반려됨' AND #{thirdApproverState} = '반려' THEN '결재중'
            ELSE #{thirdApproverState}
        END,
        fourthApproverState = CASE
            WHEN #{documentState} = '반려됨' AND #{fourthApproverState} = '반려' THEN '결재중'
            ELSE #{fourthApproverState}
        END,
        documentState = CASE
            WHEN #{documentState} = '반려됨' THEN '결재진행중'
            ELSE #{documentState}
        END
    WHERE
        documentNo = #{documentNo}
  ]]>
</update>







<select id="getEmployeeNo" resultType="Integer">
    select NO from Employees_tbl where id =#{id}
</select>

<select id="getDocument" resultType="springBoot_team_pj_126.dto.DocumentDTO">
    select * from document_tbl where documentNO =#{documentNO}
</select>












<!-- 결재! -->
<update id="documentApprove" parameterType="springBoot_team_pj_126.dto.DocumentDTO">
    UPDATE Document_tbl
    SET 
        firstApproverState = #{firstApproverState}, 
        secondApproverState = #{secondApproverState},
        thirdApproverState = #{thirdApproverState},
        fourthApproverState = #{fourthApproverState},
        documentState = #{documentState}
    WHERE documentNo = #{documentNo}
</update>











<!-- 반려 -->

<update id="documentRejection" parameterType="springBoot_team_pj_126.dto.DocumentDTO">
    UPDATE Document_tbl
    SET 
        firstApproverState = #{firstApproverState}, 
        secondApproverState = #{secondApproverState},
        thirdApproverState = #{thirdApproverState},
        fourthApproverState = #{fourthApproverState},
        documentState = #{documentState},
        rejectionReason = #{rejectionReason}
    WHERE documentNo = #{documentNo}
</update>










<select id="getUserData" resultType="springBoot_team_pj_126.dto.UserDTO">
    select * from employees_tbl where id = #{id}
</select>





<!-- <insert id="insertMember" parameterType="com.example.react.dto.MemberDTO">
	INSERT INTO mvc_member_tbl values((select nvl(max(id)+1,1)from mvc_member_tbl), #{password}, #{username},#{age},#{email},#{address},#{salary})
</insert>	

<update id="updateMember" parameterType="com.example.react.dto.MemberDTO">
	update mvc_member_tbl
	set password = #{password},
		username = #{username},
		age = #{age},
		email = #{email},
		address = #{address},
		salary = #{salary}
	where id=#{id}
</update>

<delete id="deleteById" parameterType="int">
	delete from mvc_member_tbl where id=#{id} 
</delete>
		
<select id="findById" parameterType="com.example.react.dto.MemberDTO" resultType="com.example.react.dto.MemberDTO">
	select * from mvc_member_tbl where id=#{id} AND password =#{password}
</select>

 -->

</mapper>