<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="springBoot_team_pj_126.dao.MypageMapper">




<select id="userinfo" resultType="springBoot_team_pj_126.dto.UserDTO">
SELECT e.* ,d.deptName, p.positionName
   FROM employees_tbl e
   LEFT join department_tbl d on e.deptid = d.deptid
   LEFT join position_tbl p on e.positionid = p.positionid
WHERE e.id = #{id}
</select>

<update id="photo">
	UPDATE
		EMPLOYEES_TBL
	SET
		PHOTO = #{photo}
	WHERE
		id = #{id}
</update>

<update id="infoupdate" parameterType="springBoot_team_pj_126.dto.UserDTO">
  UPDATE EMPLOYEES_TBL
   SET EMAIL=#{email},
   ADDRESS=#{address},
   HP=#{hp, jdbcType=VARCHAR}
   WHERE ID=#{id, jdbcType=VARCHAR}
</update>

<!-- 
<select id="userinfo" resultType="springBoot_team_pj_126.dto.UserDTO">
SELECT * FROM EMPLOYEES_TBL 
  WHERE id = #{id}
</select>

<2insert id="insertMember" parameterType="com.example.react.dto.MemberDTO">
	INSERT INTO mvc_member_tbl values((select nvl(max(id)+1,1)from mvc_member_tbl), #{password}, #{username},#{age},#{email},#{address},#{salary})
</insert>	

<update id="updateMember" parameterType="com.example.react.dto.MemberDTO">
	update mvc_member_tbl
	set password = #{password},
		username = #{username},
		age = #{age},
		email = #{email},
		address = #{address},
		salary = #{salary}
	where id=#{id}
</update>

<delete id="deleteById" parameterType="int">
	delete from mvc_member_tbl where id=#{id} 
</delete>
		
<select id="findById" parameterType="com.example.react.dto.MemberDTO" resultType="com.example.react.dto.MemberDTO">
	select * from mvc_member_tbl where id=#{id} AND password =#{password}
</select>

 -->

</mapper>