<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="springBoot_team_pj_126.dao.UserMapper">

<insert id="join" parameterType="springBoot_team_pj_126.auth.entities.User">
 	INSERT INTO EMPLOYEES_TBL(NO, ID,PWD ,NAME,BIRTH, EMAIL,ADDRESS,HP,hireDate,STATE,annualCount,welfarePoint,ROLE) values((select nvl(max(no)+1,1)from EMPLOYEES_TBL),#{id}, #{pwd}, #{name}, #{birth}, #{email}, #{address}, #{hp}, default, default, default, default, default)

</insert>
 
<select id="duplecate" parameterType="springBoot_team_pj_126.dto.UserDTO" resultType="springBoot_team_pj_126.dto.UserDTO">
 	select * from EMPLOYEES_TBL where name = #{name}
 </select>
 
  <select id="findById" parameterType="String" resultType="springBoot_team_pj_126.auth.entities.User">
	select * from EMPLOYEES_TBL where id=#{id}
</select> 

  <select id="toUserDTO" parameterType="springBoot_team_pj_126.auth.entities.User" resultType="springBoot_team_pj_126.auth.entities.User">
	select * from EMPLOYEES_TBL where id=#{id}
</select> 

<select id="selectId" parameterType="String" resultType="springBoot_team_pj_126.auth.entities.User">
	select * from EMPLOYEES_TBL where id=#{id}
</select>
<!--  
 <insert id="join" parameterType="springBoot_team_pj_126.auth.entities.User">
INSERT INTO react_login_tbl values((select nvl(max(no)+1,1)from react_login_tbl), #{id}, #{password}, #{firstName}, #{lastName}, null)
</insert>
  -->
 
<!-- 
<select id="login" resultType="springBoot_team_pj_126.dto.UserDTO">
	select * from EMPLOYEES_TBL where name ={#name}
</select>
<select id="findPassword" resultType="springBoot_team_pj_126.dto.UserDTO">
	select pwd from EMPLOYEES_TBL where name ={#name}
</select>



<select id="memberList" resultType="com.example.react.dto.MemberDTO">
	select * from mvc_member_tbl order by id desc
</select>

<insert id="insertMember" parameterType="com.example.react.dto.MemberDTO">
	INSERT INTO mvc_member_tbl values((select nvl(max(id)+1,1)from mvc_member_tbl), #{password}, #{username},#{age},#{email},#{address},#{salary})
</insert>	

<update id="updateMember" parameterType="com.example.react.dto.MemberDTO">
	update mvc_member_tbl
	set password = #{password},
		username = #{username},
		age = #{age},
		email = #{email},
		address = #{address},
		salary = #{salary}
	where id=#{id}
</update>

<delete id="deleteById" parameterType="int">
	delete from mvc_member_tbl where id=#{id} 
</delete>
		
<select id="findById" parameterType="com.example.react.dto.MemberDTO" resultType="com.example.react.dto.MemberDTO">
	select * from mvc_member_tbl where id=#{id} AND password =#{password}
</select>

 -->

</mapper>